.block-body {
    margin-top: 60px;
}


#workshop-title {

}

#workshop-title > h3 {
    
color: black;
}

.pre-well-come {
    position: relative;
    font-size: 48px !important;
    margin-top: 100px;
    color: #fff !important;
    text-transform: uppercase;
}


    #header {
        background-image: url(../images/1.jpg);
        height: 300px;
    }


.recent-work {
    width: 100%;
    padding-bottom: 27%;
    background: #C3C9CC;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 27%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
    font-size: 20px;
    
}

.recent-work span {
    margin-top: -18px;
    opacity: 0;
    position: relative;
    z-index: 1;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
}

.recent-work:before {
    background: rgba(2, 56, 58, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.recent-work:hover {
    background-size: 200%;
    background-position: center;
}

.recent-work:hover:before,
.recent-work:hover span {
    opacity: 1;
}
